.ccp-blog__container {
  max-width: 97rem;
  .ccp-blog__content {
    // general paragraphs
      p {
          padding: 1.6rem 0rem;
          // font-size: 20px;
          font-size: 2rem;
          // line-height: 30px;
          line-height: 3rem;
      }
    
    // foot notes
      ol {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
        li {
          list-style-type: decimal;
        }
      }
    
    // mostly quotations I believe.
    .has-text-align-center {
      display: block;
      width: 100%;
      margin: auto;
      text-align: center;
    }
  
    // featured text/media
    .wp-block-media-text {
      display: flex;
      justify-content: center;
      flex-direction: column;
      @include for-tablet-landscape-up {
        flex-direction: row;
      }
      figure {
        align-self: center;
        @include for-tablet-landscape-up {
          width: 55%;
        }
      }
      .wp-block-media-text__content {
        @include for-tablet-landscape-up {
          width: 45%;
        }
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 1.6rem;
        p {
          font-size: 3.2rem;
          line-height: 3rem;
        }
      }
    }
  }
  h1 {
    font-size: 4rem;
    @include for-tablet-landscape-up {
      font-size: 8.2rem;
    }
  }
  h2 {
    font-size: 3.5rem;
    @include for-tablet-landscape-up {
      font-size: 7.7rem;
    }
  }
  h3 {
    font-size: 3rem;
    @include for-tablet-landscape-up {
      font-size: 7.2rem;
    }
  }
  p,
  span,
  li,
  strong {
    font-size: 1.6rem;
    @include for-tablet-landscape-up {
      font-size: 2rem;
    }
  }
}
